
<!DOCTYPE html>

<html lang=“en>
<!---A comment -->

<head>
    <meta charset="utf-8"> <!-- declare the charactyer set such as ASCII or Unicode-->
    <title>first HTML page</title>

</head>

<header>
    A h1 heading 
</header>

<body>
    <h1>H1 </h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h4>
    <h5>H5</h5>
    <p>
        Tag for paragraph
       A paragraph 
       Notice how going to the text line in HTML code does not make the text go to the next line on the webpage. To go to the next line of the webpage you must use a &lt ; br/&gt; tag
       <br/>
       This text is on the new line
       This is <b>bold face</b><br/>
       This is <i>italic</I></br>
       This is <em>emphasized</em>
    </p>
    <p>
        Character entities allows us to write special characters on the webpage. Entities are the case-sensitive and take the form &amp; <i>name</i>
        ;<br/>
        Here are some examples'(see HTML source code for how to write these entities):<br/>
        &copy; &reg; &middot; &ordm; &trade; &lt; &gt; &amp; &prime; &#39; &quot;;<br/>
        A&nbsp;&&nbsp;&nbsp;
    </p>



</body>
</httml>










<!--
{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h1>
    About
</h1>
{% endblock %}
-->