{% extends 'base.html' %}

{% block title %}Comment Post{% endblock %}

{% block content %}
<body style="background-image: url(/static/image/SotaWakamatsu_Week14_IndependentResearch_Final_1.png);">
    <div class="container px-5 my-5">
        <div class="row justify-content-center" style="margin-top: 100px;">
            <div class="col-lg-8">
                <div class="card border-0 rounded-3 shadow-lg">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <div class="small text-muted">{{ post.created_at }}</div>
                            <p class="card-text">{{ post.user.username }}さんからのお題</p>
                            {% if post.post_image %}
                                <img src="{{ post.post_image.url }}" style="height: 166; width: 200px;">
                                <hr></hr>
                            {% endif %}
                            <h2 class="card-title">{{ post.content }}</h2>
                            <p class="num-comments">回答数：{{ post.total_comments }}</p>
                        </div>
                        <hr>
                        
                        <div class="text-center">
                            <div class="h1 fw-light">回答を投稿する</div>
                            <p class="mb-4 text-muted">他の人の誹謗中傷などを含んだ回答は避けましょう！！</p>
                        </div>

                        <form method="post" enctype="multipart/form-data" action="{% url 'public:comment' post.id %}">
                            {% csrf_token %}
                            <!-- Content Input -->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="comment_content" type="text" name="content" placeholder="Comment Content" style="height: 10rem;" required></textarea>
                                <label for="comment_content">回答の内容</label>
                                <div class="invalid-feedback">内容を入力してください</div>
                            </div>
                            <!-- Submit button -->
                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg" type="submit">お題に回答する</button>
                            </div>
                        </form>
                        <!-- End of post form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
