{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4" style="background-image: url('static/image/SotaWakamatsu_Week14_IndependentResearch_Final_1.png');
background-size: 100%; background-position: 300%;">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder" style="color:white;">ハイパーオーギリドットコム</h1>
            
        </div>
    </div>
</header>
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            {% if most_commented_post %}
                <div class="card mb-4">
                    <!--<a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>-->
                    <div class="card-body">
                        <div class="small text-muted">{{ most_commented_post.created_at }}</div>
                        <h2 class="card-title">{{ most_commented_post.content }}</h2>
                        <p class="card-text">{{ most_commented_post.user.username }}さんからのお題</p>
                        <p class="num-comments">回答数：{{ most_commented_post.total_comments}}</p>
                        <a class="btn btn-primary" href="{% url 'public:comment' most_commented_post.id %}">Leave Comment</a>
                        <hr size="0" width="100%" />
                        {% for comment in comments %}
                            <h2>{{ comment.content }}</h2>
                            <p>Comment By <a href="{% url 'public:user_info' comment.user.id %}">{{comment.user.username}}</a>さんの回答</p>
                            <a class="btn btn-primary" href="{% url 'public:like_comment' comment.id %}">座布団</a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-12">
                    {% for post in posts %}
                        <div class="card mb-4">
                            <!--<a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>-->
                            <div class="card-body">
                                <div class="small text-muted">{{ post.created_at }}</div>
                                <h2 class="card-title">{{ post.content }}</h2>
                                <p class="card-text">{{ post.user.username }}さんからのお題</p>
                                <p class="num-comments">回答数：{{ post.total_comments }}</p>
                                <a class="btn btn-primary" href="{% url 'public:comment' post.id %}">回答する</a>
                                <hr size="0" width="100%" />
                                {% for comment in post.comments_list %}
                                    <h2>{{ comment.content }}</h2>
                                    <p><a href="{% url 'public:user_info'  comment.user.id %}">{{comment.user.username}}</a>さんの回答</p>
                                    <a class="btn btn-primary" href="{% url 'public:like_comment' comment.id %}">座布団</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
{% endblock %}