{% extends 'base.html' %}


{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" style="background-image: url(/static/image/SotaWakamatsu_Week14_IndependentResearch_Final_1.png); height: 732px;">
      </div>
      <div class="col-md-8 col-lg-6" style="margin-top: 150px">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">お帰りなさい!</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                          <input type="text" name="username" id="floatingInput" class="form-control" placeholder="Username" required>
                          <label for="floatingInput">ユーザーID</label>
                        </div>
                        <div class="form-floating mb-3">
                          <input type="password" name="password" id="floatingPassword" class="form-control" placeholder="Password" required>
                          <label for="floatingPassword">パスワード</label>
                        </div>
                          <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                            <label class="form-check-label" for="rememberPasswordCheck">
                              パスワードを記憶する
                            </label>
                          </div>
          
                          <div class="d-grid">
                            <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">ログイン</button>
                            <div class="text-center">
                              {% url 'accounts:forget_password' as forget_password_url %}
                              <a class="small" href="{{ forget_password_url }}">パスワードを忘れてしまった場合</a>
                            </div>
                          </div>
                       
                    </form>

                    {% url 'accounts:register_user' as register_url %}
                    <a href="{{ register_url }}">アカウント作成</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}
